/* ========================= GOOGLE FONTS ============================ */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

/* ========================= VARIABLE CSS ============================ */
/* :root{

}
*{

} */
html{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
/* ========================= COLORS ============================ */
/* ========================= BASE ============================ */
/* ========================= THEME ============================ */
/* ========================= VARIABLES DARK THEME ============================ */
/* ========================= REUSABLE CSS CLASSES ============================ */
/* ========================= HEADER & NAV ============================ */
/* ========================= BUTTON ============================ */
/* ========================= HOME ============================ */